@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 212 58% 11%;
    --foreground: 210 40% 98%;
    --card: 212 58% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 212 58% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 213 40% 25%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 204 48% 57%;
    --accent-foreground: 213 40% 25%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 25%;
    --input: 217 33% 17%;
    --ring: 204 48% 57%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
